header{
  background-color: var(--yt-dm-background-header);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 6vh;
  color: var(--yt-dm-textcolor-sidebar);
}

header>div, header>div>div{
  display:inline; 
}

header>.hamburgerIcon {
  width: 169px;
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hamburgerIcon:first-child{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 200;
}
