#bigcontainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 94vh;
}

main {
  width: 87%;
  height: 100%;
  background-color: var(--yt-dm-bacgroundcolor-main);
  color: var(--yt-dm-textcolor-sidebar);
}
.channelpic {
  width: 100%;
  height: 27%;
}
.channelpic > img {
  width: 100%;
  height: 100%;
}
.channelhead {
  width: 100%;
  height: 10%;
  background-color: rgb(18, 18, 18);
  display: flex;
  justify-content: space-between;
}

.channelheadRight,
.channelheadLeft {
  width: 35%;
  height: 100%;
  /* border: red dotted 1px; */
}

.channelheadLeft {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.channelheadProfilePic > img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-right: 25px;
}
.channelheadInfo {
  width: 300px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.channelheadName {
  font-size: 24px;
  font-weight: 600;
}
.channelheadSubscriberCount {
  font-size: 14px;
  color: #aaaaaa;
}

.channelnav {
  width: 100%;
  height: 7%;
  background-color: rgb(18, 18, 18);
  display: flex;
  align-items: center;
}

.channelnav nav {
  width: 100%;
}

.channelnav nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  text-decoration: none;
  color: white;
  list-style: none;
  width: 100%;
  font-size: 1.5rem;
}

.flexcontainerVideo {
  display: flex;
  justify-content: center;
}

#videogrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 80%;
  height: 58%;
  justify-content: center;
}

.video {
  width: 210px;
  height: 191.797px;
  justify-self: center;
  border: red dotted;
  margin-bottom: 24px;
  margin-right: 4px;
}

.thumbnail {
  width: 210px;
  height: 117.797px;
  border: rgb(124, 124, 124) dotted;
}
