.sidebar{
  background-color: var(--yt-dm-background-header);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 13%;
  height:100%;
  color: var(--yt-dm-textcolor-sidebar);
  line-height: 2rem;
}

.sidebar hr{
  width: 95%;
}

.sidebar i , .sidebar img{
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.sidebar img{
  border-radius: 100%;
  
}

.sidebar > div > div {
  width: 180px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}